<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
  <h1>Basketball Team Signup</h1>

    <form method="POST" action="/team">
      
       
    </form>
  </body>
</html>